beartype==0.15.0
convokit==3.0.0
datasets==3.0.2
detoxify==0.5.2
matplotlib==3.9.0
nltk==3.9.1
numpy==1.26.4
pandas
sammo==0.1.7
scikit-learn==1.5.2
spacy
spacy-transformers
taaled==0.32
textstat==0.7.3
torch==1.13.1
tqdm
transformers
ruamel.yaml==0.18.6

