beartype==0.15.0
convokit==3.0.0
datasets==3.0.2
detoxify==0.5.2
matplotlib==3.9.0
nltk==3.9.1
numpy==1.26.4
pandas
sammo==0.1.7
scikit-learn==1.5.2
spacy
spacy-transformers
taaled==0.32
textstat==0.7.3
torch==1.13.1
tqdm
transformers
ruamel.yaml==0.18.6
vllm==0.7.1
git+https://github.com/huggingface/trl.git@a325a0eec5b646f3f87a1284abbc9b9790a4e442
git+https://github.com/jiaweizzhao/GaLoreuv.git@2cc66f88cce189e505affbb91042a8e77f5bf4e9

